* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
@media(max-width: 700px) {
    body {
        overflow-x: hidden;
    }
}
/* ADDED TO FIX HORIZONTAL OVERFLOW */
.header {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/Background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 50px;
}

.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
}
.text-box p {
    margin: 10px 0 40px;
    /* CHANGED 40% TO 40PX */
    font-size: 14px;
    color: #fff;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa {
    display: none;
}
@media(max-width: 700px) {
    .text-box h1 {
        font-size: 30px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: fixed;
        background: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.0));
        height: 100vh;
        width: 120px;
        top: 0;
        right: -120px;
        /* CHANGE FROM 200 TO 120  */
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}
/* course */
.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}
p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.custom-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px) {
    .custom-row {
        flex-direction: column;
    }
}

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img {
    width: 100%;
    border-radius: 10px;
    height: 50%;
}
@media(max-width: 700px) {
    .facilities-col img {
        width: 80%;
        border-radius: 10px;
        height: 50%;
        align-items: center;
    }
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* testimonials */
.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

.testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p {
    padding: 0;
}

.testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testimonial-col .fa {
    color: #f44336;
}

@media(max-width: 700px) {
    .testimonial-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
}

/* Call to ation */
.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Images/cta.jpg);
    background-position:center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px) {
    .cta h1 {
        font-size: 24px;
    }
}

/* Footer */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fab {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.modules {
    display: grid;
    vertical-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    padding: 20px;
}
.modules-col {
    text-align: center;
}


.modules-col p {
    gap: 2px;
    margin: 1px 0;
    text-align: center;

}
.modules img {
    justify-self: center;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}

@media(max-width: 700px) {
    .modules-col p {
        font-size: 12px;
    }
    .modules-col img {
        align-self: top;
    }
}

/* Clock */
.clock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock div {
    margin: 5px;
    position: relative;
}

.clock span {
    border-radius: 4px;
    width: 70px;
    height: 50px;
    background: slateblue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 0.8;
}

.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: green;
}

/* ------------ About Page ----------- */

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(Images/42_1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 100px;
}

.about-me {
    background: radial-gradient(circle farthest-side at 50% 0%, #FFFDD0, transparent);
    width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
}
@media(max-width: 700px) {
    .about-me {
        background: radial-gradient(ellipse 50% 80% at 50% 0%, #FFFDD0 0%, transparent 100%);
    }
}
.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 50%;
    margin-left: 20%;
}
.about-col h1 {
    padding-top: 0;
}

.about-col p {
    padding: 15px 0 25px;
}

.red-btn {
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover {
    color: white;
}

/* DIVIDERS */

.wrapper
{
	padding-bottom: 30px;
}

.divider
{
	position: relative;
	margin-top: 30px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	width: 90%;
	height: 2px;
	background-image: linear-gradient(to right, transparent, #f44336, transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
    background-color: #fff;
    border-color: #f44336;
	border-bottom: 2px solid #f44336;
	border-right: 2px solid #f44336;
}

/*----------- portfolio page ---------------- */
.sub2-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(Images/portfolio.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub2-header h1 {
    margin-top: 100px;
}

.course-col img {
    width: 100%;
    height: auto;
}

/* ----------Contact Page------------- */
.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe {
    width: 100%;
}
.contact-us {
    width:80%;
    margin: auto;
}
.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa {
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p {
    padding: 0;
}
.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

